// blog roll
.blog-list-item.is-featured
  background-color: #ffb9613d;

.blog-list-item header
  display: flex;
  margin-bottom: 1rem;

.blog-list-item .featured-thumbnail
  flex-basis: 35%;
  margin: 0 1.5em 0 0;

.blog-read-text
  font-weight: bold !important;
  color: #6b6b6b !important;

.blog-slug-text
  font-weight: bold;
  color: #545454 !important;
  text-decoration: none !important;
  font-size: 2rem;
  &:hover
    color: #ff7700 !important;

.date-text-layout
  font-weight: bold;
  font-size: 1rem;
  color: #6b6b6b !important;

.excerpt-text
  font-size: 1rem;
  margin-bottom: 25px;
  font-weight: bold;
  color: #6b6b6b;

.continue-text-size
  font-size: 1.35rem;
  text-decoration: none !important;
  color: #f58c06c7 !important;
  &:hover
    color: #fdb963c7 !important;
