@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

//hamz resuponsive
$hamz: only screen and (min-width:1024px) and (max-width:1219px)

.navbar .navbar-menu
  box-shadow: none !important

.content .categorylist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #f58c06c7;
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #f58c06c7
    box-shadow: inset 0 0 0 2px #f58c06c7
    -webkit-transition: all .15s ease
    transition: all .15s ease
    &:hover
      color: #ff7700;
      box-shadow: inset 0 0 0 2px #ff7700

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $kaldi-red-invert
$menu-item-active-background-color:	$kaldi-red-invert
$menu-list-border-left: 1px solid $kaldi-red-invert
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  //background-color: #ffb23f61;
  //background-color: #f39a2969;
  background-color: #ffb9613d;
.blog-list-item header
  display: flex;
  margin-bottom: 1em;
.blog-list-item .featured-thumbnail
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
.blog-read-text
  font-weight: bolder !important;
  color: #6b6b6b !important;
.blog-slug-text
  font-weight: bolder;
  color: #545454 !important;
  text-decoration: none !important;
  &:hover
    text-decoration: underline !important; 
    color: #ff7700 !important;
.blog-text-layout
  font-weight: 600;
  color: #6b6b6b !important;

//ham about
.featured-hamster-thmbnail
  width: 250px;
  display: inline-block;

//path layout
.path
  display: flex;
.path-layout
  @extend .path;
  margin-bottom: 30px;
.home-size
  width: 20px;

//news
.news-date
  font-size: 1.25rem !important;
.news-text
  font-size: 1.35rem !important;
  margin-top: 10px;

//new posts
.new-posts
  width: 250px;

//main navgation
.main-text
  position: absolute;
  color: white;
  top: 0;
  left: 0;
.burger-position
  position: absolute !important;
  top: 0%;
  right: 0%;
  background-color: transparent !important;
.about-position
  width: 120px;
  position: absolute !important;
  top: 0%;
  right: 15%;
  background-color: transparent !important;
.contact-position
  width: 130px;
  position: absolute !important;
  top: 0%;
  right: 2%;
  background-color: transparent !important;
.burger-layout
  z-index: 40;
.text-layout
  background-color: transparent !important;
  color: white !important;
.drawer-layout
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  background-color: #996633 !important;
  position: absolute !important;
  z-index: 30;
  top: 0%;
  right: 0%;
.pc-layout
  background-color: #ffb96117 !important;
  height: 70px;
.navtext-layout
  width: 220px;
  position: absolute;
.hover-layout
  width: 220px;
  position: absolute;
  opacity: 0;
  &:hover
    opacity: 0.7;

//hamz image
//wood
.indexwood-layout
  width: 200px;
  position: absolute;
  top: 16%;
  right: 2%;
.otherwood-layout
  width: 140px;
  position: absolute;
  top: 7.5%;
  right: 2%;
//hamster
.indexham-layout
  position: absolute;
  right: 2%;
  top: 16%;
  z-index: 40;
  width: 200px;
  opacity: 0;
  &:hover
    top: 8%;
    opacity: 1;
.otherham-layout
  position: absolute;
  right: 2%;
  top: 7.5%;
  z-index: 60;
  width: 140px;
  opacity: 0;
  &:hover
    right: 6.5%;
    top: 9%;
    opacity: 1;
    
@import "~bulma"


// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;
+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
@media #{$hamz}
  .indexwood-layout
    width: 160px;
    top: 13%;
  .otherwood-layout
    width: 110px;
    top: 6%;
  .indexham-layout
    right: 2%;
    top: 13%;
    width: 160px;
    &:hover
      top: 6.6%;
  .otherham-layout
    right: 2%;
    top: 6%;
    width: 110px;
    &:hover
      top: 7.5%;
